<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/typing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-box" id="chat-box"></div>
        <div class="chat-input-container">
            <input type="text" id="user-input" class="chat-input" placeholder="Type your message here..." onkeydown="if (event.keyCode == 13) sendMessage()">
            <i class="fas fa-arrow-alt-circle-right send-icon" onclick="sendMessage()"></i>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
